In [1]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_excel('C:\\Users\\LENOVO\\Desktop\\Valores coletados.xlsx')

In [15]:
df

       2019-04-30 13:46:09          0.46   24.50   53.30
0      2019-04-30 13:46:09  4.600000e-01    24.5    53.2
1                    43585  5.866204e+09    24.5    53.3
2      2019-04-30 13:46:16  4.700000e-01    24.5    53.3
3      2019-04-30 13:46:22  4.500000e-01    24.5    53.2
4      2019-04-30 13:46:27  4.600000e-01    24.5    52.9
5      2019-04-30 13:46:33  4.400000e-01    24.5    52.8
6      2019-04-30 13:46:38  4.500000e-01    24.5    52.8
7      2019-04-30 13:46:44  4.400000e-01    24.5    52.8
8      2019-04-30 13:46:49  4.600000e-01    24.5    52.8
9      2019-04-30 13:46:55  4.500000e-01    24.5    52.8
10     2019-04-30 13:47:00  4.500000e-01    24.4    52.6
11     2019-04-30 13:47:06  4.400000e-01    24.5    52.4
12     2019-04-30 13:47:11  4.500000e-01    24.5    52.4
13     2019-04-30 13:47:17  4.500000e-01    24.5    52.5
14     2019-04-30 13:47:22  4.600000e-01    24.4    52.5
15     2019-04-30 13:47:28  4.400000e-01    24.5    52.7
16     2019-04-30 13:47:33  4.400000e-01    24.5    53.0
17     2019-04-30 13:47:39  4.500000e-01    24.5    53.1
18     2019-04-30 13:47:44  4.500000e-01    24.5    53.3
19     2019-04-30 13:47:50  4.400000e-01    24.5    53.5
20     2019-04-30 13:47:56  4.400000e-01    24.5    53.8
21     2019-04-30 13:48:01  4.400000e-01    24.5    54.0
22     2019-04-30 13:48:07  4.300000e-01    24.5    54.4
23     2019-04-30 13:48:12  4.400000e-01    24.5    54.6
24     2019-04-30 13:48:18  4.500000e-01    24.5    54.6
25     2019-04-30 13:48:23  4.500000e-01    24.5    54.6
26     2019-04-30 13:48:29  4.300000e-01    24.5    54.7
27     2019-04-30 13:48:34  4.600000e-01    24.5    54.8
28     2019-04-30 13:48:40  4.500000e-01    24.5    54.9
29     2019-04-30 13:48:45  4.600000e-01    24.6    55.3
...                    ...           ...     ...     ...
61445  2019-05-04 11:54:18  3.000000e-02    27.1    72.6
61446  2019-05-04 11:54:24  2.000000e-02    27.1    72.6
61447  2019-05-04 11:54:29  1.000000e-02    27.1    72.6
61448  2019-05-04 11:54:35  2.000000e-02    27.1    72.6
61449  2019-05-04 11:54:40  1.000000e-02    27.1    72.6
61450  2019-05-04 11:54:46  1.000000e-02    27.1    72.6
61451  2019-05-04 11:54:51  4.000000e-02    27.1    72.6
61452  2019-05-04 11:54:57  2.000000e-02    27.1    72.6
61453  2019-05-04 11:55:02  1.000000e-02    27.1    72.5
61454  2019-05-04 11:55:08  2.000000e-02    27.1    72.5
61455  2019-05-04 11:55:13  2.000000e-02    27.1    72.5
61456  2019-05-04 11:55:19  2.000000e-02    27.1    72.5
61457  2019-05-04 11:55:24  1.000000e-02    27.1    72.5
61458  2019-05-04 11:55:30  3.000000e-02    27.1    72.5
61459  2019-05-04 11:55:35  5.000000e-02    27.1    72.4
61460  2019-05-04 11:55:41  5.000000e-02    27.1    72.3
61461  2019-05-04 11:55:46  3.000000e-02    27.1    72.2
61462  2019-05-04 11:55:52  4.000000e-02    27.1    72.2
61463  2019-05-04 11:55:57  6.000000e-02    27.1    72.1
61464  2019-05-04 11:56:03  5.000000e-02    27.1    72.2
61465  2019-05-04 11:56:08  6.000000e-02    27.1    72.4
61466  2019-05-04 11:56:14  5.000000e-02    27.1    72.6
61467  2019-05-04 11:56:19  3.000000e-02    27.1    72.6
61468  2019-05-04 11:56:25  3.000000e-02    27.1    72.6
61469  2019-05-04 11:56:30  9.000000e-02    27.1    72.6
61470  2019-05-04 11:56:36  4.000000e-02    27.1    72.6
61471  2019-05-04 11:56:41  3.000000e-02    27.1    72.4
61472  2019-05-04 11:56:47  2.000000e-02    27.1    72.3
61473  2019-05-04 11:56:52  4.000000e-02    27.1    72.3
61474                  NaN  4.000000e-02     NaN     NaN

[61475 rows x 4 columns]